header {
	@include flexbox();
	@include align-items(center);
	height: 75px;
	box-shadow: $default-shadow;

	.header-inner {
		@include flexbox();
		width: 100%;
		max-width: $max-width;
		padding: 5px $default-spacing;

		.nav-item { margin-left: auto; }

		.logo-link {
			font-family: $title-font;
			font-size: 34px;
			font-weight: 800;
			line-height: 48px;
			color: $default-black;
			margin-right: auto;
			margin-left: 0;
		}
		
		.header-links {
			@include flexbox();
			@include align-items(center);

			a {
				font-size: $default-font-size;
				font-weight: $header-font-weight;
				color: $default-black;
				margin: 0 $default-spacing;

				&:hover { color: darken($default-black, 20%); }
			}

			.btn-sign-up {
				padding: 10px 33px;
				margin-left: $default-spacing;
			}
		}
	}
}