$default-white: #FFFFFF;
$secondary-white: #F5F8FB;

$default-black: #374040;
$secondary-black: #778484;

$accent-color: #374040;
$error-red: #D5373C;

$ohedges-blue: #256AF2;
$ohedges-blue-active: #0055DD;

$default-border-color: #E2E2E2;

$input-field-bg: #F8FAFC;
$input-border-color: #EDEDEE;

$default-font: "Lato", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
	"Icons16", sans-serif;

$header-font: "Fira Mono", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
	"Icons16", sans-serif;

$title-font: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
	"Icons16", sans-serif;

$button-font-size: 14px;
$default-font-size: 16px;
$header-font-size: 22px;

$default-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
	0 3px 6px 0 rgba(0, 0, 0, 0.07);
$default-button-shadow: 0 0 4px 2px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);

$body-font-weight: 400;
$header-font-weight: 700;

$default-border-radius: 8px;
$avatar-radius: 50%;

$max-width: 78em;
$default-spacing: 15px;